
/* contact us */
.slide-page5{
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3rem;
    /* background-image: url(assets/contact.png); */
    /* background-size:cover; */
    align-items:flex-end;
    padding-right: 10%;

  }
  
  .form {
    
    border: 2px solid #000000;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    height: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 10%;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 60%;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: #3d66ec;
    color: #fff;
    cursor: pointer;
  }

  .input-field, .textarea-field::placeholder{
    color: #000000;
    font-size: 20px;
    font-weight: 500;
  }
  
  .slide-page5.form{
    justify-content: flex-start;
    flex-direction: row;
  }
  .text-pg-05{
    font-family: 'Josefin Sans';
    font-size: larger;
    font-size: 4.5vw;
  }